@keyframes color-change {
    0% {
      color: rgb(55, 255, 0);
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover  {
    animation: color-change 3s infinite;
}



body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #f6f7f6; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #00a800; /* Warna tajuk (header)*/
    font-size: 40px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}
h2 {
font-size: 30px;

}
h3 {
    font-size: 30px;
    



    }
